<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	<servers>
		<server>
			<id>Repository</id>
			<username>~~~Client~~~</username>
			<password>${CLIENT_ID}~?~${CLIENT_SECRET}</password>
		</server>
		<server>
			<id>releases-ee</id>
			<username>unitedsiteservices.nexus</username>
			<password>uiXiUDqeP95LNAS</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>anypoint-exchange-v3</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>Repository</id>
					<name>Anypoint Platform Exchange Repository</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/organizations/272c406d-e2c1-4b02-87f9-38e686f1e9e1/maven</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>releases-ee</id>
					<name>releases-ee</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mulesoft-release</id>
					<name>mulesoft release repository</name>
					<layout>default</layout>
					<url>https://repository.mulesoft.org/releases/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
