<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
	
  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>Repository</id>
      <username>~~~Client~~~</username>
      <password>${CLIENT_ID}~?~${CLIENT_SECRET}</password>
    </server>
  </servers>

</settings>
